{% extends './layauts/base.html' %} {%block titulo%}Presentaciòn{%endblock%}
{%block content %}
<h1>Jesusito - Fotografo</h1>
<div class="about">
    {% comment %} para las fotos, buscar en lorem picsum {% endcomment %}
    <img src="https://picsum.photos/300/350" alt="imagen" />
    <div class="about_content">
        <h3>Foto chula</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus
            cupiditate reiciendis labore ipsam eum laborum vel eveniet rerum
            libero officia corporis saepe maxime quis itaque, similique iusto
            veritatis atque praesentium.
        </p>
    </div>
</div>

{% endblock %}
